.construct {
    color: yellow;
}

body {
    background-color: rgb(39, 35, 28);
}

/*nav bar styling*/
h3 {
    color: rgb(223, 224, 224);
}

/* article 1 Display Info styling */
.a1 {
    color: rgb(223, 224, 224);

    width: 10%;
    height: auto;
}

/* article 2 Contact Info styling */
.a2 {
    color: rgb(223, 223, 224);
}